.card
  .card-body
    .fa.fa-user
    = user_course.user
    .row
    .fa.fa-star
    = user_course.rating
    .row
    .fa.fa-comment
    %small= user_course.comment
    .row
    .fa.fa-graduation-cap
    = link_to user_course.course, course_path(user_course.course)
    .row
    .fa.fa-clock
    = user_course.created_at.strftime('%d/%b/%Y')
