%h1 Listing user_courses

%table
  %thead
    %tr
      %th Rating
      %th Comment
      %th User
      %th Course
      %th
      %th
      %th

  %tbody
    - @user_courses.each do |user_course|
      %tr
        %td= user_course.rating
        %td= user_course.comment
        %td= user_course.user
        %td= user_course.course
        %td= link_to 'Show', user_course
        %td= link_to 'Edit', edit_user_course_path(user_course)
        %td= link_to 'Destroy', user_course, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User course', new_user_course_path
