%p#notice= notice

%p
  %b Rating:
  = @user_course.rating
%p
  %b Comment:
  = @user_course.comment
%p
  %b User:
  = @user_course.user
%p
  %b Course:
  = @user_course.course

= link_to 'Edit', edit_user_course_path(@user_course)
\|
= link_to 'Back', user_courses_path
