%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Video url:
  = @task.video_url

  .embed-responsive.embed-responsive-16by9
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@task.embed_url}", :width => "560"}


%p
  %b Chapter:
  = @task.chapter
%p
  %b Course:
  = @task.course

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
