.card
  .card-header
    .fa.fa-user
    /= link_to @user.username, user_path(@user)
    = @user.username
  .card-footer
    Registered
    = time_ago_in_words(@user.created_at)
    ago
    .row
    - @user.roles.each do |role|
      .badge.badge-info
        = role.name
  .card-footer
    %b Learning:
    = @user.subscriptions.count
  .card-footer
    %b Teaching:
    = @user.courses_count
    
