.card
  .card-header
    .fa.fa-user
    = link_to user.username, user_path(user)
    - if user == current_user
      .float-right
        = link_to edit_user_registration_path, class: "btn btn-sm btn-warning" do
          .fa.fa-cog
          %b Account settings
  .card-footer
    %b id#
    = user.id
    .row
    %b Email:
    = user.email
  .card-footer
    Signed up
    = time_ago_in_words(user.created_at)
    ago
    .row
    - user.roles.each do |role|
      .badge.badge-info
        = role.name
  .card-footer
    %b Subscriptions:
    = user.subscriptions.count
  .card-footer
    %b Courses created:
    = user.courses_count
  .card-footer
    .row
    = "sign_in_count".humanize + ":"
    = user.sign_in_count
    .row
    = "current_sign_in_at".humanize + ":"
    = user.current_sign_in_at
    .row
    = "last_sign_in_at".humanize + ":"
    = user.last_sign_in_at
    .row
    = "current_sign_in_ip".humanize + ":"
    = user.current_sign_in_ip
    .row
    = "last_sign_in_ip".humanize + ":"
    = user.last_sign_in_ip  
    %hr
    Confirmed email?
    - if user.confirmed_at.present?
      .badge.badge-success Yes
    - else
      .badge.badge-danger No
