.jumbotron
  .display-4
    What do you want to learn?
  %p.py-4
  = form_tag(courses_path, method: :get) do
    = text_field_tag :name, params[:name], placeholder: "Find a course"
    = submit_tag 'Search', name: nil

.card-group
  .card.card-body
    .fa.fa-graduation-cap
    = Course.published.approved.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    .fa.fa-brain
    Expert instruction
    .row
    Find the right instructor for you
  .card.card-body
    .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%br
.text-center
  %h2 Popular courses
.text-right
  = link_to courses_path do
    More popular courses

%hr
.text-center
  %h2 Latest courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to courses_path do
    More latest courses

%hr
.text-center
  %h2 Top rated courses
.text-right
  = link_to courses_path do
    More top rated courses

%hr
.text-center
  %h2 Popular categories
.card-columns
  - @popular_categories.each do |category|
    = render 'categories/category', category: category
.text-right
  = link_to categories_path do
    More popular categories

%hr
.text-center
  %h2 What our students have to say

