.jumbotron
  .display-4
    What do you want to learn?
  %p
  = form_tag(courses_path, method: :get) do
    Find a course #{text_field_tag :name, params[:name]}
    = submit_tag 'Search', name: nil

.row
  .col-4
    = Course.published.approved.count
    online courses
    .row
    Explore a variety of fresh topics
  .col-4
    Expert instruction
    .row
    Find the right instructor for you
  .col-4
    Lifetime access
    .row
    Learn on your schedule

%hr
.text-center
  %h2 Popular courses

%hr
.text-center
  %h2 Latest courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course

%hr
.text-center
  %h2 Top rated courses

%hr
.text-center
  %h2 Popular categories
.card-columns
  - @popular_categories.each do |category|
    = render 'categories/category', category: category

%hr
.text-center
  %h2 What our students have to say
  

