-# frozen_string_literal: true
= simple_form_for(@subscription) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :user
    = f.association :course

    = f.input :rating, collection: 1..5, as: :radio_buttons
    = f.input :comment

  .form-actions
    = f.button :submit, class: 'btn btn-sm btn-primary'
