.text-center.text-white
  %h3
    .fa.fa-lock-open
    = action_name.humanize
    = pluralize(@subscriptions.count, 'subscription')
%p
%table#table1
  %thead
    %tr
      %th
        .fa.fa-clock
        .fa.fa-lock-open
      %th
        .fa.fa-user
      %th
        .fa.fa-envelope
      %th
        .fa.fa-graduation-cap
      %th
        .fa.fa-dollar-sign
      %th
        .text-warning.fa.fa-clock
      %th
        .text-warning.fa.fa-star
      %th
        .text-warning.fa.fa-comment
      %th
      %th

  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.created_at.strftime('%d/%b/%Y')
        %td= subscription.user
        %td= subscription.user.email
        %td= link_to subscription.course, course_path(subscription.course)
        %td= number_to_currency(subscription.course.price)
        %td
          - if subscription.rating.present?
            = subscription.updated_at.strftime('%d/%b/%Y')
        %td= subscription.rating
        %td= subscription.comment
        %td
          - if policy(subscription).edit?
            = link_to 'Review', edit_subscription_path(subscription)
        %td
          - if policy(subscription).destroy?
            = link_to 'Unsubscribe', subscription, method: :delete, data: { confirm: 'Are you sure?' }
%p
