.row
  .col-lg-3
  .col-lg-6
    .card
      .card-header
        %h4
          .fa.fa-graduation-cap
          = link_to @course.name, course_path(@course)
          %hr
          .fa.fa-lock-open
          Buy course
      .card-body
        = form_tag course_subscriptions_path(@course) do
          = submit_tag "Pay #{@course.price} &euro;".html_safe, class: "btn btn-success btn-md btn-block"
      .card-footer
        = link_to 'Cancel', course_path(@course)
