%p#notice= notice

%p
  %b Rating:
  = @subscription.rating
%p
  %b Comment:
  = @subscription.comment
%p
  %b User:
  = @subscription.user
%p
  %b Course:
  = @subscription.course

= link_to 'Edit', edit_subscription_path(@subscription)
\|
= link_to 'Back', subscriptions_path
