-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description, :input_html => {:rows => 7}
    = f.input :video_url
    = f.input :seq_number

  .form-actions
    = f.button :submit, class: 'btn btn-md btn-primary'
