.list-group-item
  - if policy(lesson).show?
    = link_to course_lesson_path(@course, lesson) do
      %b
        #{lesson.seq_number}:
      = lesson.name
    .float-right
      - if lesson.viewed(current_user) == true
        .text-danger.fa.fa-times
      - else
        .text-success.fa.fa-check
      - if policy(lesson).edit?
        = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
  - else
    %b
      #{lesson.seq_number}:
    = lesson.name
  