.card
  .card-header
    .fa.fa-book
    %b
      #{lesson.row_order_rank + 1}.
    = lesson.name

    .float-right
      - if policy(lesson).edit?
        = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
      - if policy(lesson).destroy?
        = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
    .row
  - if lesson.video_url.present?
    .embed-responsive.embed-responsive-16by9
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{lesson.embed_url}", :width => "560"}
  .card-footer
    = sanitize simple_format(lesson.description)
  .card-footer
    .row
    - unless lesson.prev.nil?
      .float-left
        = link_to ('<i class="fa fa-arrow-left"></i> Previous lesson').html_safe, course_lesson_path(@course, lesson.prev), class: "btn btn-sm btn-info"
    - unless lesson.next.nil?
      .float-right
        = link_to ('Next lesson <i class="fa fa-arrow-right"></i>').html_safe, course_lesson_path(@course, lesson.next), class: "btn btn-sm btn-info"
