.card
  .card-header
    .fa.fa-graduation-cap
    = link_to @course.name, course_path(@course)
  .card-header
    %b
      #{lesson.seq_number}:
    = lesson.name

    - if policy(lesson).edit?
      .float-right
        = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
    .row

  .embed-responsive.embed-responsive-16by9
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{lesson.embed_url}", :width => "560"}
  .card-body
    %p
      %b Video url:
      = lesson.video_url
    %p
      %b Description:
      = lesson.description
  .card-footer
    .row
    - unless @plesson.nil?
      .pull-left
        = link_to ('<i class="fa fa-arrow-left"></i> Previous lesson').html_safe, course_lesson_path(@plesson.course, @plesson), class: "btn btn-danger"
    - unless @nlesson.nil?
      .pull-right
        = link_to ('Next lesson <i class="fa fa-arrow-right"></i>').html_safe, course_lesson_path(@nlesson.course, @nlesson), class: "btn btn-danger"
