- if current_user && policy(lesson).show?
  - if lesson.viewed(current_user) == true
    .text-danger.fa.fa-times
  - else
    .text-success.fa.fa-check
  = link_to course_lesson_path(@course, lesson) do
    %b
      #{lesson.row_order_rank + 1}.
    = lesson.name
  .float-right
    - if policy(lesson).edit?
      .fa.fa-sort
      = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
    - if policy(lesson).destroy?
      = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

- else
  = link_to course_lesson_path(@course, lesson) do
    %b
      #{lesson.row_order_rank + 1}.
    = lesson.name
