.card
  .card-header
    %b Chapter:
    = lesson.chapter
    .row
    %b Name:
    = lesson.name
  .embed-responsive.embed-responsive-16by9
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{lesson.embed_url}", :width => "560"}
  .card-footer
    %b Description:
    = lesson.description
  - if lesson.course.user_id == current_user.id
    .card-footer
      = link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-sm btn-primary'
      = link_to 'Back', lessons_path, class: 'btn btn-sm btn-primary'
