%table.text-white
  %thead
    %tr
      %th row order
      %th rank
      %th Name
      %th Description
      %th Video
      %th course
  /%tbody#item{"data-model_name": "lesson.class.name.underscore", "data-update_url": "lesson_sort_path(lesson)"}
  %tbody.lesson-sortable
    - @lessons.each do |lesson|
      = content_tag "tr", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: lesson_sort_path(lesson)} do
        %td= lesson.row_order
        %td= lesson.row_order_rank
        %td= lesson.name
        %td= lesson.description
        %td= lesson.video_url
        %td= lesson.course

      /%li{"data-update-url" => "#{lesson_sort_path(lesson)}"}
      /  %b= lesson.name

      /.lesson-sortable
      /  - @lessons.each do |lesson|
      /    = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: lesson_sort_path(lesson)} do
      /      = lesson.id
      /      = lesson.name


.list-group.lesson-sortable
  - @lessons.each do |lesson|
    - @course = lesson.course
    = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: lesson_sort_path(lesson)} do
      = render 'lessons/lesson_preview', lesson: lesson
