%h1 Listing lessons

%table
  %thead
    %tr
      %th Course
      %th Chapter
      %th Name
      %th Description
      %th Video url
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= link_to lesson.course, course_path(lesson.course)
        %td= lesson.chapter
        %td= link_to lesson.name, lesson
        %td= lesson.description
        %td= lesson.embed_url
        %td= link_to 'Edit', edit_lesson_path(lesson)
        %td= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
