/lesson/show
- content_for :title do
  EDURGE
  |
  = @course.name
  | 
  = @lesson.name

.row
  .col-lg-8
    = render 'lessons/lesson', lesson: @lesson
    %p
  .col-lg-4
    .list-group
      .list-group-item
        .fa.fa-graduation-cap
        = link_to @course.name, course_path(@course)
        .float-rigt
          .fa.fa-spinner
          = number_to_percentage(@course.progress(current_user), precision: 0)

      - @lessons.each do |lesson|
        - if @lesson.present? && lesson == @lesson
          .list-group-item.list-group-item-success
            = render 'lessons/lesson_preview', lesson: lesson
        - else
          .list-group-item
            = render 'lessons/lesson_preview', lesson: lesson

