.card
  .card-header
    = link_to course.name, course
  .card-body
    %small= simple_format(course.description)
  .card-footer
    = pluralize(course.lessons_count, 'lessons')
    .row
    = course.user
    .float-right
      = time_ago_in_words(course.created_at)
  .card-footer
    = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-primary'
    = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary'
