.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.name, course
  .card-body
    %small= simple_format(course.short_description)
  .card-footer
    .row
      .col-md-6
        .fa.fa-star
        = course.average_rating
        (#{course.user_courses_count})
      .col-md-6.text-right
        .fa.fa-chalkboard-teacher
        = course.user
  .card-footer
    .text-center
      - if current_user 
        - if course.user_id == current_user.id
          = link_to course_path(course) do
            You've created this course. View analytics
        - elsif course.user_courses.where(user: current_user).any?
          = link_to course_path(course) do
            You own this course. Now, learn
        - else
          = link_to course_path(course), class: 'btn btn-md btn-success' do
            .fa.fa-shopping-cart
            = number_to_currency(course.price)
      - else
        = link_to course_path(course), class: 'btn btn-md btn-success' do
          .fa.fa-shopping-cart
          = number_to_currency(course.price)
  - if current_user
    - if course.user_id == current_user.id
      .card-footer
        - if course.published?
          .badge.badge-success
            published
        - else
          .badge.badge-danger
            published
        - if course.approved?
          .badge.badge-success
            approved
        - else
          .badge.badge-danger
            approved
      .card-footer
        = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-primary'
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary'
        - if course.approved?
          = link_to 'Disapprove', disapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-primary'
        - else
          = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-primary'
