.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.name, course
  .card-body
    %small= simple_format(course.short_description)
  .card-footer
    .text-right
      = course.price
  .card-footer
    .row
      .col-md-6
        .fa.fa-clock
        = course.duration 
        min
      .col-md-6.text-right
        = pluralize(course.lessons_count, 'lessons')
  .card-footer
    .row
      .col-md-6
        .fa.fa-chalkboard-teacher
        Lecturer:
        = course.user
      .col-md-6.text-right
        created
        = time_ago_in_words(course.created_at)
        ago
  .card-footer
    - if course.published?
      .badge.badge-success
        published
    - else
      .badge.badge-danger
        published
    - if course.approved?
      .badge.badge-success
        approved
    - else
      .badge.badge-danger
        approved
  .card-footer
    = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-primary'
    = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary'
    - if course.approved?
      = link_to 'Disapprove', disapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-primary'
    - else
      = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-primary'
