%h1 Listing courses

%table
  %thead
    %tr
      %th Category
      %th Name
      %th Description
      %th User
      %th Tasks
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.category, category_path(course.category)
        %td= link_to course.name, course
        %td= course.description
        %td= course.user
        %td= course.tasks_count
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
