%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description
%p
  %b User:
  = @course.user
%p
  %b Category:
  = @course.category

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
