/course/show
.card
  .card-header
    %b Category:
    = @course.category
    .row
    %b Course name:
    = @course.name
  .card-body
    %small= simple_format(@course.description)
  .card-footer
    %b User:
    = @course.user
    .float-right
      = time_ago_in_words(@course.created_at)
  .card-footer
    = link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-primary'
    = link_to 'Back to category', category_path(@course.category), class: 'btn btn-sm btn-primary'

.text-center
  %h2
    = pluralize(@course.tasks_count, 'task')

- @tasks.each do |task|
  = render 'tasks/task', task: task
  %br