/course/show
.text-white
  .fa.fa-bookmark
  = link_to @course.category, category_path(@course.category)
  >
  .fa.fa-graduation-cap
  = @course.name

.jumbotron.bg-light
  %h3
    .fa.fa-graduation-cap
    %b= @course.name
  %p
  .row
    .col-md-6
      %small= simple_format(@course.short_description)
      %p
      .row
      .fa.fa-user
      = @course.reviews_count
      students
      .row
      .fa.fa-star
      = @course.average_rating
      .row
      .fa.fa-chalkboard-teacher
      Created by
      = @course.user
      .row
      .fa.fa-clock
      Last updated
      = @course.updated_at.strftime('%m/%Y')
      .row
      .fa.fa-comment
      = @course.language
      .row
      .fa.fa-clock
      %b Duration:
      = @course.duration 
      min
    .col-md-6.text-right
      %h4
        = link_to course_path(@course), class: 'btn btn-lg btn-success' do
          .fa.fa-shopping-cart
          = number_to_currency(@course.price)

.row
  .col-md-6
    .card
      .card-body
        %b Description:
        %small= simple_format(@course.description)
      - if @course.user_id == current_user.id
        .card-footer
          - if @course.published?
            .badge.badge-success
              published
          - else
            .badge.badge-danger
              published
          - if @course.approved?
            .badge.badge-success
              approved
          - else
            .badge.badge-danger
              approved
        .card-footer
          = link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-primary'
    %p
    %h4.text-white.text-center
      Reviews:
      = @course.reviews.count
    .card-columns
      - @reviews.each do |review|
        = render 'reviews/review', review: review
      %p

  .col-md-6
    .text-center.text-white
      %h4
        = pluralize(@course.lessons_count, 'lesson')
    - @lessons.each do |lesson|
      = render 'lessons/lesson_preview', lesson: lesson
