.card
  .card-header
    .fa.fa-bookmark
    = link_to category.name, category
  .card-body
    %small= simple_format(category.description)
  .card-footer
    .fa.fa-graduation-cap
    = pluralize(category.courses.approved.published.count, 'course')
  - if current_user
    - if policy(category).edit?
      .card-footer
        = link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-warning'
        - unless category.courses.any?
          - if policy(category).destroy?
            = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
