-# frozen_string_literal: true
= simple_form_for(@category) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, input_html: { autocomplete: 'nope' }
    = f.input :description, input_html: { autocomplete: 'nope' }, :input_html => {:rows => 7}

  .form-actions
    = f.button :submit, class: 'btn btn-md btn-secondary'
