%nav.navbar.navbar-expand-lg.navbar-dark.bg-warning
  %a.navbar-brand{:href => "/"}
    .text-dark
      %b 
        .fa.fa-graduation-cap
        EDURGE
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        .nav-link
          = link_to categories_path do
            .fa.fa-bookmark
            Categories
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Admin
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            .dropdown-item
              = link_to unapproved_courses_path do
                .fa.fa-graduation-cap
                Unapproved courses
                .badge.badge-danger
                  = Course.unapproved.count
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Instructor
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            .dropdown-item
              = link_to new_course_path do
                .fa.fa-graduation-cap
                .fa.fa-plus
                Add course
            .dropdown-item
              = link_to my_courses_path do
                .fa.fa-graduation-cap
                My courses
                .badge.badge-danger
                  = current_user.courses.count
        .nav-link
          .fa.fa-graduation-cap
          My courses
      .nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = current_user.username
        .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
          .dropdown-item
            = link_to edit_user_registration_path do
              .fa.fa-cog
              Account settings
          .dropdown-item
            = link_to destroy_user_session_path, method: :delete do
              .fa.fa-sign-out-alt
              Sign out

    - else
      %ul.navbar-nav.mr-auto
      /%btn.btn-dark
      /  .nav-item
      /    = link_to 'Sign Up', new_user_registration_path, class: 'nav-link text-light'
      .nav-link= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-dark'
      .nav-link= link_to 'Log In', new_user_session_path, class: 'btn btn-outline-dark'
