%nav.navbar.navbar-expand-lg.navbar-dark.bg-warning
  %a.navbar-brand{:href => "/"}
    .text-dark
      %b EDURGE
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        .nav-link= link_to 'Categories', categories_path
        .nav-link
          = link_to unapproved_courses_path do
            Unapproved courses
            .badge.badge-danger
              = Course.unapproved.count
        .nav-link
          = link_to my_courses_path do
            iTeach
            .badge.badge-danger
              = current_user.courses.count
        .nav-link iLearn
        .nav-link= link_to 'Add course', new_course_path
      .nav-link= link_to current_user.username, edit_user_registration_path
      .nav-link= link_to 'Sign out', destroy_user_session_path, method: :delete
    - else
      %ul.navbar-nav.mr-auto
      .nav-link= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-dark'
      .nav-link= link_to 'Log In', new_user_session_path, class: 'btn btn-outline-dark'
