!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = content_for?(:title) ? yield(:title) : "EDURGE - Online courses - Anytime, Anywhere"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = favicon_link_tag 'https://i.imgur.com/LaIANar.png'

  %body.bg-dark

    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
    .bg-success
      = render 'layouts/footer'    
